[Unit]
Description=Shadowsocks Server
After=network.target

[Service]
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /run/shadowsocks

ExecStart=/usr/bin/ssserver -c /etc/shadowsocks.json
Restart=on-abort


[Install]
WantedBy=multi-user.target
